@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000e7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
   /* padding: 0em 1em 4em 1em;*/
    font-family: 'Open Sans', sans-serif;
    
}


.bg {
    position:relative;
    background-size: cover;
    background-position:  center;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}
.overlay {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
}



.navbar {
    background: #000000;
    padding: .5em;
}

.header-logo {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 1em;
    border-radius: 50%;
    background: linear-gradient(90deg, #288d4c 49%, rgb(0, 0, 0) 49%);
    width: 2.5em;
    padding: .5em 0;
}



.container {
    display: flex;
    place-content: space-between;
}
.mobile-menu {
    cursor: pointer;
}


 .menu-btn {
    display: block;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}
nav {
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: #288d4c;
    height: 100vh;
    padding: 1em;
    display: none;
}

ul, .primary-nav {
    margin-top: 5em;
    list-style-type: none;
}
li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
}
li a:hover {
    font-weight: bold;
}
.mobile-menu-exit {
    float: right;
}

.myImage {
    width: 120px;
    height: 120px;
    background: url('./image/new\ img\ 1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% ;
    margin: 10em auto 0 auto;
}
.intro-bg {
    padding: 1em;
}
.intro-bg p {
    line-height: 1.3em;
    text-align: center;
    font-size: 8vw;
    /*font-family: 'DotGothic16', sans-serif;*/
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    margin-top: 1em;
}




  




/* auto typing *
.pen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.text {
  text-align: center;
  font-size:6.5vw;
  font-family: 'Mansalva', cursive;
  padding: 1em 0;
}
*/

/*
span {
    color: #2dc77a;
}*/


.updateContainer {
    text-align: center;
    padding: 1em;
}
.updateContainer .updateHeader {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    margin-top: 2.5em;
    border-radius: 50px;
    font-style: italic;
}
.updateContainer .updateText {
    color: #ffffff;
    padding: 3.5em 1.2em 2em 1.2em;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
}
.updateContainer a {
    padding: .6em 1.5em;
    text-align: center;
    text-decoration: none;
    background: #288d4c;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    background-image: linear-gradient(to right, #288d4c, #000000);
}
.updateContainer a:hover {
    background: #288d4c;
    color: #ffffff;
    transition: all 1s;
}


/***** skills *****/
#skills-zone {
    text-align: center;
}
.recentProjectsContainer {
    margin-top: 10em;
    text-align: center;
    display: inline-block;
}
.recentProjectsContainer p {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: italic;
}

/***** skills *****/

.skills-container {
    border: 10px solid #000000;
    width: 250px;
    height: 500px;
    margin: 5em auto;
    border-radius: 45px;
    box-shadow: 10px 15px 30px rgb(39 39 39);
}
.iphone-head {
    border: 2px solid #000000;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #000000;
}
.front-speaker {
    border: 2px solid #1a1a1a;
    text-align: center;
    border-radius: 2px;
    width: 30px;
    margin: .5em auto;
}
.background-img {
    background: url('https://images.pexels.com/photos/4526933/pexels-photo-4526933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
    border-radius: 33px;
    padding: 0 .5em;
}

.time {
    color: #ffffff;
    margin-top: -17px;
    font-size: 13px;
    text-align: left;
    width: 40px;
    margin-left: .5em;
}
.signal-battery {
   text-align: right;
   margin-top: -15px;
   padding-right: .5em;
}

/********** skils grid line 1 **********/

.grid-container {
    padding: 0 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1.5em;
}

/********** SKills **********/

/********** skills names **********/

.html, .css, .javascript, .jquery , .firebase{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}


/********** skils grid line 2 **********/

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1em;
}

/********** skils grid line 1 **********/

/***** skills end *****/




/********** project **********/
#project-zone {
    text-align: center;
}

.project-full-container {
    padding: 0 1em;
    margin-top: -5em;
}

.project-header-container {
    margin-top: 8em ;
    display: inline-block;
}
.project-header-container p{
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: italic;
}





/* canada cities */
.item-1 {
    width: 100%;
    height: 29vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, rgba(40,141,76) 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-1 .parallex{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 1.5em;
}
.item-1 .parallex-image {
    background: url('./image/Popular\ canadian\ cities\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-1 .parallex-image:hovr {
    transform: scale(1.1); 
}
/* canada cities */


/* Random Quote Generator end */
.item-2 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(40,141,76);
    background: linear-gradient(90deg, rgba(40,141,76) 50%, rgba(0,0,0) 90%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

.item-2 .random-quote-generator{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em 1.8em 1.5em;
}
.item-2 .random-quote-generator-image {
    background: url('./image/Random\ Quote\ Generator\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 38%;
    height: 20vh;
    float: left;
    margin-left: 1.5rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-2 .random-quote-generator-image:hovr {
    transform: scale(1.1); 
}
/* Random Quote Generator end */


/* survey form */
.item-3 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, rgba(40,141,76) 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-3 .survey-form{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 2em;
}
.item-3 .survey-form-image {
    background: url('./image/survey\ form.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 42%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-3 .survey-form-image:hoer {
    transform: scale(1.1); 
}
/* survey form end */


/* hex color changer */
.item-4 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(40,141,76);
    background: linear-gradient(90deg, rgba(40,141,76) 50%, rgba(0,0,0) 90%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-4 .hex-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-4 .hex-color-changer-image {
    background: url('./image/Hex\ Change\ Background\ Color.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 36%;
    height: 20vh;
    float: left;
    margin-left: 1.5rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-4 .hex-color-changer-image:hoer {
    transform: scale(1.1); 
}
/* hex color changer end */



/* tribute page */

.item-5 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, rgba(40,141,76) 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-5 .tribute-page{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 1.5em;
}
.item-5 .tribute-page-image {
    background: url('./image/Michael\ jackson\ _\ Tribute\ page.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-5 .tribute-page-image:hovr {
    transform: scale(1.1); 
}

/* tribute page end */



/* background color changer */

.item-6 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(40,141,76);
    background: linear-gradient(90deg, rgba(40,141,76) 50%, rgba(0,0,0) 90%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-6 .background-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-6 .background-color-changer-image {
    background: url('./image/Backround\ Color\ Changer.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 36%;
    height: 20vh;
    float: left;
    margin-left: 1.5rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-6 .background-color-changer-image:hovr {
    transform: scale(1.1); 
}

/* background color changer end */



/* Animal's gallery */

.item-7 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, rgba(40,141,76) 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-7 .animal-gallery{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 1.5em;
}
.item-7 .animal-gallery-image {
    background: url('./image/animal\ gallery.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-7 .animal-gallery-image:hovr {
    transform: scale(1.1); 
}
/* Amimals gallery */ 


/* Contact zone */
#contact-zone {
    text-align: center;
}
.contact {
    margin-top: 7em;
    display: inline-block;
}
.contact p {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 1.5em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    margin-top: 2.5em;
    border-radius: 50px;
    font-style: italic;
}

.contacts {
    color: #ffffff;
    text-align: center;
    margin: 4em auto 1em auto;
    font-size: 5vw;
}
.twitter , .github, .codePen, .linkedIn{
    margin: 1.7em 0;
}.contacts a {
    text-decoration: none;
    color: #ffffff;
}
/* contact zone end */

/* copy right */
.copyright-container{
    color: #ffffff;
    text-align: center;
    margin-top: 4em;
}



span {
    color: #49bc71;
}





@media only screen and (min-width: 768px) {

    
.navbar {
    background: #000000;
    padding: 1.3em;
}

.header-logo {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5em;
    border-radius: 50%;
    background: linear-gradient(90deg, #288d4c 49%, rgb(0, 0, 0) 49%);
    width: 2.5em;
    padding: .5em 0;
}



.container {
    display: flex;
    place-content: space-between;
}
.mobile-menu {
    cursor: pointer;
    width: 3em;
}


 .menu-btn {
    display: block;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}
nav {
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: #288d4c;
    height: 100vh;
    padding: 1em;
    display: none;
}

ul, .primary-nav {
    margin-top: 5em;
    list-style-type: none;
}
li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 2.3em;
    text-align: right;
}
li a:hover {
    font-weight: bold;
}
.mobile-menu-exit {
    float: right;
    width: 4em;
}


.myImage {
    width: 200px;
    height: 200px;
    background: url('./image/new\ img\ 1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50% ;
    margin: 13em auto 0 auto;
}
.intro-bg {
    padding: 1em;
}
.intro-bg p {
    line-height: 1.3em;
    text-align: center;
    font-size: 8vw;
    /*font-family: 'DotGothic16', sans-serif;*/
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    margin-top: 1em;
}



.updateContainer {
    text-align: center;
    padding: 1em;
}
.updateContainer .updateHeader {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 2.5em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    margin-top: 5em;
    border-radius: 50px;
    font-style: italic;
}
.updateContainer .updateText {
    color: #ffffff;
    padding: 2.5em 1.2em 2em 1.2em;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
}
.updateContainer a {
    padding: .6em 1.5em;
    text-align: center;
    text-decoration: none;
    background: #288d4c;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    background-image: linear-gradient(to right, #288d4c, #000000);
}
.updateContainer a:hover {
    background: #288d4c;
    color: #ffffff;
    transition: all 1s;
}



/***** skills *****/
.skills-container {
    border: 10px solid #000000;
    width: 70vw;
    height: auto;
    margin: 5em auto;
    border-radius: 45px;
    box-shadow: 10px 15px 30px rgb(39 39 39);
    display: none;
}
#skills-zone {
    text-align: center;
}
.recentProjectsContainer {
    margin-top: 15em;
    text-align: center;
    display: inline-block;
}
.recentProjectsContainer p {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 2.5em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    border-radius: 50px;
    font-style: italic;
}

.skills-container-ipad {
    border-radius: 20px;
    background: /*rgb(40,141,76)*/ #eb8d01;
    background: #000000;
    color: #fff;
    width:80%;
    height: 100%;
    margin: 3em auto;
    font-size: 30px;
    padding: 1em;
}
.first-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.html-zone p {
   font-size: 1.1em;
   text-transform: lowercase;
}
.html-zone {
    padding: 1.5em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: transparent;
    box-shadow:  13px 13px 14px /*#0e2f1c*/ #eb8d01,
                 -13px -13px 14px #000000;

}
.css-zone {
    padding: 1.5em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: transparent;
    box-shadow:  13px 13px 14px #0e2f1c,
                 -13px -13px 14px #000000;

}
.css-zone p {
    font-size: 1.1em;
    text-transform: lowercase;
 }

/***** second block *****/
.second-block {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 1em;
    
}
.javascript-zone {
    padding: 1.3em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: transparent;
    box-shadow:  13px 13px 14px #0e2f1c,
                 -13px -13px 14px #000000;
}
.javascript-zone p {
    font-size: 1.1em;
    text-transform: lowercase;
}
.jquery-zone {
    padding: 1.5em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: transparent;
    box-shadow:  13px 13px 14px #0e2f1c,
    -13px -13px 14px #000000;
}
.javascript-zone p {
    font-size: 1.1em;
 }

/***** third zone *****/

.third-block {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 1em;
    
}
.firebase-zone {
    padding: 1.3em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: transparent;
    box-shadow:  13px 13px 14px #0e2f1c,
                 -13px -13px 14px #000000;
}
.firbase-zone p {
    font-size: 1.1em;
    text-transform: lowercase;
 }
.github-zone {
    padding: 1.5em;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: transparent;
    box-shadow:  13px 13px 14px #0e2f1c,
                 -13px -13px 14px #000000;
}
.github-zone p {
    font-size: 1.1em;
 }


 
/********** project **********/

.project-header-container {
    margin-top: 12em;
    text-align: center;
}
.project-header-container p{
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 1.2em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 4vw;
}



/* canada cities */
.item-1 {
    width: 100%;
    height: 29vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, #eb8d01 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-1 .parallex{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 1.5em;
}
.item-1 .parallex-image {
    background: url('./image/Popular\ canadian\ cities\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-1 .parallex-image:hovr {
    transform: scale(1.1); 
}
/* canada cities */


/* Random Quote Generator end */
.item-2 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(40,141,76);
    background: linear-gradient(90deg, #eb8d01 50%, rgba(0,0,0) 90%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

.item-2 .random-quote-generator{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em 1.8em 1.5em;
}
.item-2 .random-quote-generator-image {
    background: url('./image/Random\ Quote\ Generator\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 38%;
    height: 20vh;
    float: left;
    margin-left: 1.5rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-2 .random-quote-generator-image:hovr {
    transform: scale(1.1); 
}
/* Random Quote Generator end */


/* survey form */
.item-3 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, #eb8d01 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-3 .survey-form{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 2em;
}
.item-3 .survey-form-image {
    background: url('./image/survey\ form.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 42%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-3 .survey-form-image:hoer {
    transform: scale(1.1); 
}
/* survey form end */


/* hex color changer */
.item-4 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(40,141,76);
    background: linear-gradient(90deg, #eb8d01 50%, rgba(0,0,0) 90%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-4 .hex-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-4 .hex-color-changer-image {
    background: url('./image/Hex\ Change\ Background\ Color.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 36%;
    height: 20vh;
    float: left;
    margin-left: 1.5rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-4 .hex-color-changer-image:hoer {
    transform: scale(1.1); 
}
/* hex color changer end */



/* tribute page */

.item-5 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, #eb8d01 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-5 .tribute-page{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 1.5em;
}
.item-5 .tribute-page-image {
    background: url('./image/Michael\ jackson\ _\ Tribute\ page.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-5 .tribute-page-image:hovr {
    transform: scale(1.1); 
}

/* tribute page end */



/* background color changer */

.item-6 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(40,141,76);
    background: linear-gradient(90deg, #eb8d01 50%, rgba(0,0,0) 90%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-6 .background-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-6 .background-color-changer-image {
    background: url('./image/Backround\ Color\ Changer.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 36%;
    height: 20vh;
    float: left;
    margin-left: 1.5rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-6 .background-color-changer-image:hovr {
    transform: scale(1.1); 
}

/* background color changer end */



/* Animal's gallery */

.item-7 {
    width: 100%;
    height: 29vh;
    margin: 2em auto 0 auto;
    padding: 1.4em 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0) 8%, #eb8d01 50%);
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-7 .animal-gallery{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*/
    padding: 2.3em 1.5em;
}
.item-7 .animal-gallery-image {
    background: url('./image/animal\ gallery.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 20vh;
    float: left;
    /*margin-left: 3em;*/
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 10px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-7 .animal-gallery-image:hovr {
    transform: scale(1.1); 
}
/* Amimals gallery */ 




   
}


@media only screen and (min-width: 1024px) {

    
}



























/* Small devices (portrait tablets and large phones, 600px and up) */
/*
@media only screen and (min-width: 600px) {

    body {
        background: #e0e0e0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100%;
        /*padding: 2em 2.5em 4em 2.5em;*
        font-family: 'Open Sans', sans-serif;
        
    }

    .name {
        background: #eb8d01;
        height: 25vh;
        width: 100%;
        border-radius: 51% 49% 47% 53% / 14% 50% 50% 86%   ;
    }

.intro-bg {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: 600px;
    border-radius: 30% 70% 0% 100% / 0% 0% 100% 100%   ;
    background: #eb8d01;
    
    padding: 0 .7em;
    padding: 1.5em;
    
}
.myImage {
    width: 50%;
    height: 50%;
    background: url('https://images.pexels.com/photos/1006227/pexels-photo-1006227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 47% 53% 0% 100% / 0% 0% 100% 100% ;
    shape-outside:circle();
}

.intro-bg p {
    text-align: center;
    font-size: 7.5vw;
   font-family: 'Amaranth', sans-serif;
    color: #363636;
    margin: 5em auto 0 auto;
    padding: 0 1em
}

/***** update *****
.updateContainer {
    text-align: center;
    margin-top: 40em;
    
}
.updateContainer .updateHeader {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 4vw;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    margin-top: 5em;
    border-radius: 10px;
}
.updateContainer .updateText {
    color: #2b2b2b;
    padding: 1.5em 2em 2em 2em;
    font-size: 5vw;
}
.updateContainer a {
    padding: .6em 1.5em;
    text-align: center;
    text-decoration: none;
    background: #49bc71;
    color: #ffffff;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    font-size: 20px;
}
.updateContainer a:hover {
    background: #288d4c;
    color: #ffffff;
    transition: all 1s;
}

/***** skills *****
.recentProjectsContainer {
    margin-top: 15em;
    text-align: center;
   
}
.recentProjectsContainer p {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 4vw;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    border-radius: 10px;
}



.skills-container {
    border: 15px solid #000000;
    width: 55vw;
    height: 80vh;
    margin: 6em auto;
    border-radius: 60px;
    box-shadow: 10px 15px 30px rgb(39 39 39);
}


.iphone-head {
    border: 2px solid #000000;
    width: 30vw;
    height: 3.5vh;
    margin: 0 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #000000;
}
.front-speaker {
    border: 2px solid #1a1a1a;
    text-align: center;
    border-radius: 2px;
    width: 50px;
    margin: .5em auto;
}
.background-img {
    background: url('https://images.pexels.com/photos/4526933/pexels-photo-4526933.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 auto;
    border-radius: 42px;
    padding: 0 .5em;
}

.time {
    color: #ffffff;
    margin-top: -22px;
    font-size: 2vw;
    text-align: left;
    width: 40px;
    margin-left: .8em;
    padding-left: 0em;
}
.signal-battery {
   text-align: right;
   margin-top: -22px;
   padding-right: 1em;
}

/********** skils grid line 1 **********

.grid-container {
    padding: 0 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1.5em;
}

/********** SKills **********/

/********** skills names **********

.html, .css, .javascript, .jquery , .firebase{
    color: #ffffff;
    font-size: 23px;
    font-family: 'Lobster', cursive;
}


/********** skils grid line 2 **********

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 1em;
}

/********** skils grid line 1 **********/

/***** skills end *****


hr {
    margin-top: -25px;
}



/********** project **********

.project-header-container {
    margin-top: 12em;
    text-align: center;
}
.project-header-container p{
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 1.2em;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 4vw;
}




/* canada cities *
.item-1 {
    width: 100%;
    height: 30vh;
    margin: 8em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-1 .parallex{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 1.5em;
}
.item-1 .parallex-image {
    background: url('./image/Popular\ canadian\ cities\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 20px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-1 .parallex-image:hovr {
    transform: scale(1.1); 
}
/* canada cities */


/* Random Quote Generator end *
.item-2 {
    width: 100%;
    height: 30vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}

.item-2 .random-quote-generator{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em 1.8em 1.5em;
}
.item-2 .random-quote-generator-image {
    background: url('./image/Random\ Quote\ Generator\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 38%;
    height: 100%;
    float: left;
    margin-left: 4rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 20px;
    transition: transform .5s;
    height: 100%;
    margin-top: 1em;
}
.item-2 .random-quote-generator-image:hovr {
    transform: scale(1.1); 
}
/* Random Quote Generator end */


/* survey form *
.item-3 {
    width: 100%;
    height: 30vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-3 .survey-form{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 2em;
}
.item-3 .survey-form-image {
    background: url('./image/survey\ form.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 42%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 20px;
    transition: transform .5s;
}
.item-3 .survey-form-image:hoer {
    transform: scale(1.1); 
}
/* survey form end */


/* hex color changer *
.item-4 {
    width: 100%;
    height: 30vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-4 .hex-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-4 .hex-color-changer-image {
    background: url('./image/Hex\ Change\ Background\ Color.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    margin-top: 1em;
    float: left;
    margin-left: 4rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-4 .hex-color-changer-image:hoer {
    transform: scale(1.1); 
}
/* hex color changer end */



/* tribute page *

.item-5 {
    width: 100%;
    height: 30vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-5 .tribute-page{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 1.5em;
}
.item-5 .tribute-page-image {
    background: url('./image/Michael\ jackson\ _\ Tribute\ page.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 20px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-5 .tribute-page-image:hovr {
    transform: scale(1.1); 
}

/* tribute page end */



/* background color changer *

.item-6 {
    width: 100%;
    height: 30vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-6 .background-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-6 .background-color-changer-image {
    background: url('./image/Backround\ Color\ Changer.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    float: left;
    margin-top: 1em;
    margin-left: 3rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 20px;
    transition: transform .5s;
}
.item-6 .background-color-changer-image:hovr {
    transform: scale(1.1); 
}

/* background color changer end */



/* Animal's gallery *

.item-7 {
    width: 100%;
    height: 30vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-7 .animal-gallery{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 1.5em;
}
.item-7 .animal-gallery-image {
    background: url('./image/animal\ gallery.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 20px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-7 .animal-gallery-image:hovr {
    transform: scale(1.1); 
}
/* Amimals gallery */ 





/* Contact zone *
.contact {
    margin-top: 13em;
    text-align: center;
}
.contact p {
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 4vw;
    padding: 0 1.3em;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #000000;
    border-radius: 10px;
}

/* copy right *
.copyright-container{
    color: #000000;
    text-align: center;
    margin-top: 6rem;
    font-size: 20px;
}

}





/* Medium devices (landscape tablets, 768px and up) */
/*
@media only screen and (min-width: 769px) {

    body {
        background: #e0e0e0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100%;
        /*padding: 2em 2.5em 4em 2.5em;*
        font-family: 'Open Sans', sans-serif;
        
    }

    .myImage {
        width: 50%;
        height: 50%;
        background: url('https://images.pexels.com/photos/1006227/pexels-photo-1006227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 47% 53% 0% 100% / 0% 0% 100% 100% ;
        shape-outside:circle();
    }
    
.intro-bg {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: 600px;
    border-radius: 30% 70% 0% 100% / 0% 0% 100% 100%   ;
    background: #eb8d01;
    padding: 0 .7em;
    padding: 1.5em;
}
.name {
    background: #eb8d01;
    height: 40vh;
    width: 100%;
    border-radius: 51% 49% 47% 53% / 14% 50% 50% 86%   ;
}

.intro-bg p {
    text-align: center;
    font-size: 6.5vw;
   font-family: 'Amaranth', sans-serif;
    color: #363636;
    margin: 4em auto 0 auto;
    padding: 0 1em
}

/***** skill *****
.skills-container {
    border: 15px solid #000000;
    width: 45vw;
    height: 95vh;
    margin: 6em auto;
    border-radius: 60px;
    box-shadow: 10px 15px 30px rgb(39 39 39);
}

.iphone-head {
    border: 2px solid #000000;
    width: 20vw;
    height: 3.5vh;
    margin: 0 auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #000000;
}


/* canada cities *
.item-1 {
    width: 100%;
    height: 40vh;
    margin: 8em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-1 .parallex{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 1.5em;
}
.item-1 .parallex-image {
    background: url('./image/Popular\ canadian\ cities\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 20px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-1 .parallex-image:hovr {
    transform: scale(1.1); 
}
/* canada cities */



/* Random Quote Generator end *
.item-2 {
    width: 100%;
    height: 40vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}

.item-2 .random-quote-generator{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em 1.8em 1.5em;
}
.item-2 .random-quote-generator-image {
    background: url('./image/Random\ Quote\ Generator\ image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 38%;
    height: 100%;
    float: left;
    margin-left: 4rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 20px;
    transition: transform .5s;
    height: 100%;
    margin-top: 1em;
}
.item-2 .random-quote-generator-image:hovr {
    transform: scale(1.1); 
}
/* Random Quote Generator end */


/* survey form *
.item-3 {
    width: 100%;
    height: 40vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-3 .survey-form{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 2em;
}
.item-3 .survey-form-image {
    background: url('./image/survey\ form.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 42%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 20px;
    transition: transform .5s;
}
.item-3 .survey-form-image:hoer {
    transform: scale(1.1); 
}
/* survey form end */


/* hex color changer *
.item-4 {
    width: 100%;
    height: 40vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}
.item-4 .hex-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-4 .hex-color-changer-image {
    background: url('./image/Hex\ Change\ Background\ Color.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    margin-top: 1em;
    float: left;
    margin-left: 4rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 10px;
    transition: transform .5s;
}
.item-4 .hex-color-changer-image:hoer {
    transform: scale(1.1); 
}
/* hex color changer end */



/* tribute page *

.item-5 {
    width: 100%;
    height: 40vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-5 .tribute-page{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 1.5em;
}
.item-5 .tribute-page-image {
    background: url('./image/Michael\ jackson\ _\ Tribute\ page.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 45%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 20px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-5 .tribute-page-image:hovr {
    transform: scale(1.1); 
}

/* tribute page end */



/* background color changer *

.item-6 {
    width: 100%;
    height: 40vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-6 .background-color-changer{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    padding: 1.8em 1em;
}
.item-6 .background-color-changer-image {
    background: url('./image/Backround\ Color\ Changer.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    float: left;
    margin-top: 1em;
    margin-left: 3rem;
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    transform: rotate(10deg);
    border-radius: 20px;
    transition: transform .5s;
}
.item-6 .background-color-changer-image:hovr {
    transform: scale(1.1); 
}

/* background color changer end */



/* Animal's gallery *

.item-7 {
    width: 100%;
    height: 40vh;
    margin: 5em auto 0 auto;
    padding: 1.4em 0;
    background: #eb8d01;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border-radius: 15px;
}
.item-7 .animal-gallery{
    float: left;
    font-size: 4.5vw;
    color: #ffffff;
    /*margin-top: 2em;*
    padding: 2.3em 1.5em;
}
.item-7 .animal-gallery-image {
    background: url('./image/animal\ gallery.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    margin-top: 1em;
    float: left;
    /*margin-left: 3em;*
    box-shadow: 0 15px 25px rgb(39, 39, 39);
    border-radius: 20px;
    transform: rotate(10deg);
    transition: transform .5s;
}
.item-7 .animal-gallery-image:hovr {
    transform: scale(1.1); 
}
/* Amimals gallery *


}





/* Large devices (laptops/desktops, 992px and up) */
/*
@media only screen and (min-width: 1025px) {





    body {
        background: #b3b3b3;
        width: 100%;
        min-height: 100%;
        padding: 2em 1em 4em 1em;*
        font-family: 'Open Sans', sans-serif; 
    }
    .name {
        background: #eb8d01;
        height: 25vh;
        width: 100%;
        border-radius:51% 49% 47% 53% / 2% 50% 50% 98%    ;
    }
    
    .intro-bg {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        height: 400px;
        border-radius: 30% 70% 0% 100% / 0% 0% 100% 100% ;
        background: #eb8d01;
        display: none;
        padding: 0 .7em;
        padding: 1.5em;
        
    }
    .myImage {
        width: 50%;
        height: 50%;
        background: url('https://images.pexels.com/photos/1006227/pexels-photo-1006227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 47% 53% 0% 100% / 0% 0% 100% 100% ;
        display: none;
    }
    
    .intro-bg p {
        text-align: center;
        font-size: 8.5vw;
       font-family: 'Amaranth', sans-serif;
        color: #363636;
        margin: 6em auto;
        display: none;
    }
    .header-container {
        background:#fff;
        width: 100%;
        height: 20vh;
    }

    .logo {
        border: 2px solid #000000;
        float: left;
        margin-top: -41em;
        margin-left: 5em;
        position: fixed;
        z-index: 1030;
        background: rgba(145, 67, 67, 0.5);
        padding : 2em 2em 1em 2em;

    }

    
     
      
    
      
 
      
      

}

*/